body {
    background-image: url('background.jpg');
    background-size: contain; /* Affiche l'image en entier, sans rognage */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center center;
    background-attachment: fixed; /* Fixe l'image (ne défile pas avec la page) */
    background-color: #e6f0ff; /* Bleu pastel pour combler les espaces */
    margin: 0;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background: #f4f4f4cd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

.bande-haut {
    background-color: #e6f0ff; /* Bleu pastel */
    color: #333;
    text-align: center;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
    border-radius: 4px;
}